@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* // globalogy logo color pallet  */
/* $kelly-green: #5CBA47ff;
$delft-blue: #192D4Fff;
$mantis: #79C045ff;
$dark-spring-green: #217956ff; */
:root {
  --background-color: #030a21;
  --background-color-dark: black;
  --alert-background-light: #237b54;
  --alert-background-gradient-dark: #ff4928;
  --button-background-dark: #5cba47ff;
  --button-background-light: #237b54;
  --text-color-light: black;
  --text-color-dark: white;
  --button-hover-background: #b83720;
  --header-text-color: #27293b;
  --button-hover-light: #237b54;
  --bg-dark: #030a21;
}
[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--background-color) !important;
  --mantine-color-text: var(--text-color-light) !important;
  .alert {
    background: var(--button-background-light);
    background: linear-gradient(313deg, #111729 0%, #237b54 100%);
    border: 0;
  }
  .navbar-back {
    backdrop-filter: blur(15px);
    background-color: #030a21;
  }
  .active {
    color: var(--button-background-light);
  }
  /* vertical Stepper */
  .stepper {
    .line {
      width: 2px;
      background-color: var(--button-background-light) !important;
    }
  }
  .stepper-col {
    background-color: var(--button-background-light);
  }
}
/* [data-mantine-color-scheme="dark"] {
  --mantine-color-body: var(--background-color-dark) !important;
  --mantine-color-text: var(--text-color-dark) !important;
  .btn {
    background-color: var(--button-background-dark);
  }
  .alert {
    background: linear-gradient(
      180deg,
      var(--button-background-dark) 0%,
      #3c0084 100%
    );
  }
  .active {
    color: var(--button-background-dark);
  }
  .box {
    background-color: transparent;
    box-shadow: rgb(255 255 255 / 30%) 0px 30px 0px -30px,
      rgb(98 138 178 / 35%) 0px -2px 3px 0px inset;
  }
  .mode-btn {
    background-color: #6247aa !important;
    background-image: linear-gradient(
      316deg,
      #6247aa 0%,
      #a594f9 74%
    ) !important;
    color: black;
  }
  .head-txt {
    color: white;
  }
  .wherecanmove {
    border: var(--button-background-dark) 1px solid;
    background-color: #237B54;
    color: white;
  }
  .wherecanmove.btn:hover {
    background-color: #237B54;
  }
  .happy-stn {
    border-radius: 50px;
    border: var(--button-background-dark) 1px solid;
  }
  .sub-text {
    color: #81868f;
  }
  .graph {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }
  .mid {
    padding: 6%;
    box-shadow: rgb(255 255 255 / 30%) 0px 30px 0px -30px,
      rgb(98 138 178 / 35%) 0px -2px 3px 0px inset;
    border-radius: 10px;
    background-color: white;
  }
  .navbar-back {
    backdrop-filter: blur(15px);
    background-color: #00000063;
  }
  vertical Stepper dark mode
  /* .stepper {
    .line {
      width: 2px;
      background-color: var(--alert-background-gradient-dark) !important;
    }
    .lead {
      font-size: 1.1rem;
    }
  }

  .stepper-col {
    background-color: var(--alert-background-gradient-dark);
  } 
} */
/* Dark Mode .alert{
  background: rgb(255,73,40);
background: linear-gradient(180deg, rgba(255,73,40,1) 30%, rgba(40,62,255,1) 100%);
  } */
.alert {
  background: #388087;
  background: linear-gradient(180deg, rgba(56, 128, 135, 1) 0%, #3c0084 100%);
  border-radius: 0;
}

.btn {
  background-color: var(--button-background-light);
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sign-in {
  background-color: #388087;
  color: white;
}
.sign-in.btn:hover {
  background-color: navy;
  color: white;
}
.header-bar {
  background-color: var(--background-color);
}
.btn:hover {
  background-color: var(--button-hover-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: translateY(-0.1em);
  color: white;
}
.wherecanmove {
  color: black;
  grid-column-gap: 8px;
  background-color: #237b54;
  color: white;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 2px;
  font-weight: 500;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 0 0 #fff;
}
.mid {
  padding: 3%;
  border-radius: 10px;
  background-color: white;
  height: 27rem;
}
.badge {
  background-color: #23c45c ;
    font-size: 14px;
    /* width: 24px; */
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
}
.tex {
  position: relative;
  background-image: url(../src/assests/images/texture.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 15px;
  top: -100px;
  border-radius: 10px;
}
.btn-close {
  color: white;
}
.flag img {
  width: 72px;
  height: 50px;
}

.sun svg {
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #2b3782;

  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* //footer social  */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="twitter"] .filled,
.example-2 .icon-content a[data-social="twitter"] ~ .tooltip {
  background-color: #1877f2;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

.about {
  padding: 7%;
  border-radius: 10px;
  background-color: white;
}
.about-section img {
  /* left: -17%; */
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.glare {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3) 24%,
    rgba(255, 255, 255, 0) 26%,
    rgba(255, 255, 255, 0) 53%,
    rgba(255, 255, 255, 0.3) 54%
  );
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -21%; /* Initial position */
  right: 0;
  transform: skewX(-15deg); /* Tilt to the right */
  animation: moveGlare 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite; /* Animation */
}
@keyframes moveGlare {
  0% {
    left: -21%; /* Start position */
    animation-timing-function: ease-in; /* Slow start */
  }
  100% {
    left: 100%; /* End position */
    animation-timing-function: ease-out; /* Gradually increase speed */
  }
}
.button-g {
  grid-column-gap: 8px;
  background-color: #237b54;
  color: white;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 2px;
  font-weight: 500;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 0 0 #fff;
}
.rating-box {
  z-index: 1;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  border: 2px solid black;
  background-color: #fff;
  border-radius: 12px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 1rem 1.5rem;
  display: grid;
  position: relative;
}
.pattern {
  background-color: white;
  /* background-image: radial-gradient(#444cf7 0.9px, #e5e5f7 0.9px); */
  background-size: 18px 18px;
  padding: 5%;
}
.product-box {
  z-index: 1;
  width: 250px;
  max-width: 250px;
  grid-row-gap: 20px;
  box-shadow: 2px 2px 0 0 #fff, 3px 3px 0 1px black;
  color: white;
  background-color: #030a21;
  border-radius: 1rem;
  flex-direction: column;
  padding: 2rem;
  transition: all 0.3s;
  display: flex;
  position: relative;
  height: 350px;
  margin: 1rem;
}

.product-box:hover {
  color: #37ed81; /* Change text color to green on hover */
  background-color: #021409;
  .product-icon-master {
    opacity: 0;
  }
  .product-icon-hovermaster {
    opacity: 1;
  }
}
/* .test{
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
} */
.video-player {
  height: auto;
  width: -webkit-fill-available;
  overflow: hidden;
  border-radius: 10px;
}
.product-icon-master {
  z-index: 1;
  opacity: 1;
  /* height: 100px; */
  object-fit: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: 2rem;
}
.product-icon-hovermaster {
  /* height: 100px; */
  z-index: 1;
  opacity: 0;
  /* height: 100px; */
  object-fit: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: 2rem;
}
.selected::after {
  content: "\2713"; /* Unicode character for tick mark */
  margin-left: 5px;
  color: #008000; /* Color of the tick mark */
}

/* Transition effect */
label {
  transition: all 0.3s ease;
}
.progress-wrapper {
  height: 10px;
  /* background-color: #ddd; */
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.required {
  color: red;
}
.option-butn {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
  color: rgb(255, 255, 255);
}
.mantine-Modal-content {
  padding: 5%;
  background-image: url("./assests/images/bg_dark.jpeg");
  background-position: center top;
  background-size: cover;
}
.mantine-Modal-header {
  color: white;
  padding: 2%;
  position: relative;
  .mantine-Modal-title {
    font-size: 1.5rem;
  }
}
.mantine-Drawer-content {
  background-image: url("./assests/images/bg_dark.jpeg");
  background-position: center top;
  background-size: cover;
  overflow: hidden;
  .mantine-Drawer-title {
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
  }
}
.mantine-Carousel-slide {
  display: flex;
  justify-content: center;
}
.mantine-Carousel-indicators {
  bottom: 0 !important;
}
.mantine-Carousel-controls {
  padding: 0 !important;
}
.mantine-Tabs-tab:hover {
  color: black;
}
.stat-content {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
@media screen and (max-width: 767px) {
  .stat-content {
    flex-direction: column;
    display: flex;
    row-gap: 10px;
  }
}
.stat-bottom-content {
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
}
.rating-box-bottom {
  z-index: 1;
  width: 297px;
  height: 200px;
  grid-row-gap: 12px;
  border: 2px solid black;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  position: relative;
}